.App {
  text-align: center;
  padding: 20px
}

.warning {
  color: orange
}

li {
  list-style: none;
}

label {
  display: block;
  margin: 3px
}

input {
  width: 50px
}

button: {
  padding: 10px
}

.btnStart, .btnReset {
  margin: 20px;
}


.welcomeBox {
  text-align: center;
  margin: auto
}

.card {
  width: 200px;
  height: 200px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin: 5px;
}
